.main {
    margin: 50px 0 100px 0;
}
.main .sub-title {
    margin-top: 30px;
    font-size: 1.5em;
    text-align: center;
    line-height: 2em;
}

.sub-des {
    font-size: 1.35em;
    font-weight: 500;
    background-color: rgba(0,0,0,0.34);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1em 2em;
    color: white;
    line-height: 2em;
}

.sd.container {
    padding: 0 2vw;
}

.slider:not(.container) {
    width: 100%;
    height: 700px;
    background-color: lightgray;
}

.slider .item {
    display: none;
}